.topics {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
  overflow-x: hidden;
}

.topics__content {
  position: absolute;
  left: 375px;
  top: 111px;
  width: 1146px;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
}

.topics__header-wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: #ffffff;
  padding-bottom: 0;
}

.topics__filter-wrapper {
  width: 915px;
  position: sticky;
  top: 54px; /* Header height + gap */
  z-index: 19;
  background-color: #ffffff;
  padding-bottom: 0;
  margin-left: 11px; /* 375px - 386px = -11px, so we add 11px margin */
}

.topics__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 32px;
    width: 945px;
    overflow-y: auto;
    margin-top: 10px;
    padding: 0 8px;
    height: 761px;
overflow-x: hidden;

  }
  
  