.topic-info-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.05);
  width: 300px;
  flex-shrink: 0;
}

.topic-info-card__image-container {
  width: 100%;
  height: 100px; /* podés subirlo si querés */
  border-radius: 23px 23px 0 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
}

.topic-info-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 23px 23px 0 0;
  display: block;
}

.topic-info-card__content {
  background-color: #ffffff;
  border: 1px solid #efefef;
  border-top: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  padding: 16px;
  border-radius: 0 0 23px 23px;
  width: 100%;
}

.topic-info-card__name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.topic-info-card__name-text {
  font-family: 'Manrope', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  color: #33363a;
  margin: 0;
}

.topic-info-card__description {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.topic-info-card__description-text {
  flex: 1;
  font-family: 'Manrope', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: #62686e;
  text-align: left;
  white-space: pre-wrap;
  margin: 0;
  min-height: 0;
  min-width: 0;
}

.topic-info-card__description-text p {
  margin: 0;
  margin-bottom: 0.5em;
}

.topic-info-card__description-text p:last-child {
  margin-bottom: 0;
}


