.search-results {
  width: 100vw;
  min-height: 100vh;
  background-color: #fbfbfb;
  overflow-x: hidden;
  display: flex;
}

.search-results__content {
  padding-left: 333px;
  padding-top: 118px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.search-results__header-wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: #fbfbfb;
  margin-bottom: 26px;
}

.search-results__tabs-wrapper {
  width: 100%;
  position: sticky;
  top: 60px;
  z-index: 19;
  background-color: #fbfbfb;
  margin-bottom: 29px;
}

.search-results__tabs {
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%;
  max-width: 1143px;
}

.search-results__filter-wrapper {
  width: 100%;
  max-width: 1143px;
  position: sticky;
  top: 143px;
  z-index: 18;
  background-color: #fbfbfb;
  margin-bottom: 24px;
}

.search-results__main {
  width: 100%;
  max-width: 1131px;
}

.search-results__posts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.search-results__topics,
.search-results__material,
.search-results__comments {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding: 24px 0;
}

