.calendar-day {
  position: relative;
  height: 40px;
  width: 32px;
  flex-shrink: 0;
}

.calendar-day--active {
  position: relative;
}

.calendar-day__background {
  position: absolute;
  left: 3px;
  top: 6px;
  width: 27px;
  height: 27px;
}

.calendar-day__bg-dot {
  width: 100%;
  height: 100%;
  display: block;
}

.calendar-day__content {
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.calendar-day__number {
  font-family: 'Manrope', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #808080;
  text-transform: uppercase;
  margin: 0;
}

.calendar-day--active .calendar-day__number {
  color: #ffffff;
}

.calendar-day__text {
  font-family: 'Manrope', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: #808080;
  text-transform: uppercase;
  margin: 0;
}

.calendar-day__dot {
  position: absolute;
  width: 7px;
  height: 7px;
  display: block;
}

