.button {
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  font-style: normal;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  opacity: 0.9;
}

.button--primary {
  background-color: #497fff;
  color: #ffffff;
}

.button--secondary {
  background-color: transparent;
  color: #497fff;
  border: 1px solid #497fff;
}

