.filter {
  border-bottom: 1px solid rgba(87, 87, 87, 0.2);
  height: 31px;
  width: 100%;
}

.filter__content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.filter__label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  font-style: normal;
  color: #2e3031;
}

.filter__chevron {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transform: rotate(180deg);
}

.filter__chevron-icon {
  width: 15px;
  height: 15px;
  display: block;
  max-width: none;
}

